clickhouse-connect>=0.10.0
celery
celery-singleton>=0.3.1
redis
loguru
networkx
numpy
scipy
pandas
scikit-learn
cdlib
python-dotenv
pydantic>=2.0.0

pytest>=7.0.0
pytest-asyncio>=0.21.0

fastapi

pandas
pyarrow
uvicorn

prometheus-client

boto3

 igraph
 leidenalg
# Notebook Integration
jupyterlab
matplotlib
seaborn
plotly
pyvis